* {
    text-decoration: none !important;
    list-style: none !important;
    box-sizing: border-box !important;
}

.blocked {
    display: none;
}

.border100 {
    border-radius: 100%;
}

.border-radius {
    border-radius: 10px;
}

.megaMenu {
    width: 1100%;
    right: -400%;
    overflow: hidden;
}

.pop-up {
    width: 97%;
    background-color: #146c437a;
    color: #0e5735;
}

.yellow img {
    z-index: -10;
    top: 10%;
    left: 0%;
    filter: invert(82%) sepia(8%) saturate(5790%) hue-rotate(2deg) brightness(107%) contrast(102%);
}

.play a img {
    display: inline-block;
    width: 45px;
    cursor: pointer;
    background-color: #0477e277;
    outline: 4px solid #0477e270;

}

.play a img:hover {
    outline: 7px solid #0477e270;
    transition: .2s ease-in-out all;
}

.adam {
    width: 100%;
    height: 580px;
    overflow: hidden;
}

.circle,
.circle2 {
    width: 100%;
    height: 60%;
    bottom: 1%;
    left: 0%;
    background-color: #0c64e9;
    border-radius: 100%;
}

.circle2 {
    height: 80%;
    width: 60%;
    left: 20%;
}

.adam img {
    left: 20%;
}

.genel {
    position: absolute;
    padding: 10px 15px;
    background-color: white;
    box-shadow: 0 0px 10px rgb(221, 221, 221);
}

.science {
    top: 30%;
}

.angular {
    right: 10%;
}

.figma {
    left: 90%;
    top: 60%;
    z-index: 1;

}

.box {
    position: absolute;
    box-shadow: 0 0px 10px rgb(221, 221, 221);
    top: 75%;
    z-index: 1;
    backdrop-filter: blur(5px);
}

.student {
    right: 0%;
    top: 30%;
    z-index: 1;
}

.studentsbox {
    position: relative;
    width: 180px;
    height: 100px;
    background: url("/assets/images/5.png");
    background-size: cover;
}
.studentsbox img,
.img5 {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 3px solid white;
}

.img5 {
    right: 10%;
    background-color: #0c64e9;
}

.img4 {
    right: 25%;
}

.img3 {
    right: 40%;

}

.img2 {
    right: 55%;
}

.img1 {
    right: 70%;
}

.opacityyellow {
    background-color: #f7c12e54 !important;
}

.opacitygray {
    background-color: #9a9ea434 !important;
}

.opacitypurple {
    background-color: #730ce91c !important;
}

.opacitygreen {
    background-color: #0cbc871a !important;
}

.opacityblue {
    background-color: #0c64e91c !important;
}

.shadow {
    box-shadow: 0 1px 10px black;
}

.become {
    background-color: rgb(23, 162, 184, 1);
}

.yuvarlak,
.yuvarlak1,
.yuvarlak2 {
    position: absolute;
    border-radius: 100%;
    background-color: white;
    opacity: 0.3;
    width: 120px;
    height: 120px;
    left: 5%;
}

.yuvarlak1 {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    top: 20%;
    left: 40%;
}

.yuvarlak2 {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    top: 50%;
    left: 50%;
}

.star {
    display: inline-block;
    width: 15px;
    overflow: hidden;
}

.table img {
    filter: invert(77%) sepia(18%) saturate(1647%) hue-rotate(338deg) brightness(104%) contrast(101%);
}

.swiper {
    width: 100%;
    min-height: 600px;
}

.ileri,
.geri {
    position: absolute;
    width: 50px !important;
    height: 50px !important;
    border-radius: 50% !important;
    transition: all ease-in-out .2s;
    color: #ffffff !important;
    background: rgba(0, 0, 0, 0.637) !important;
    left: -15% !important;
}

.ileri {
    left: 115% !important;
}

.lori {
    top: 20%;
}

.vertical {
    left: 36%;
    top: 12%;
}

.dennis {
    left: 35%;
    top: 45%;
}

.daire {
    left: -7%;
    top: 7%;
}

.protect {
    border-radius: 100%;
    display: inline-block;
    outline: 18px solid #f7c32e;
    left: 51%;
    top: 10%;
    z-index: 1;
}

.icons {
    padding: 6px 9px;
    box-shadow: 0 0 5px rgba(128, 128, 128, 0.445);
}

footer a:hover,
footer a:focus {
    color: #0c64e9 !important;
}

.icons:hover {
    background-color: rgba(128, 128, 128, 0.116);
    cursor: pointer;
    box-shadow: 0 0 0;
}

@media only screen and (min-width: 992px) {

    .nabvar {
        padding-top: 20px;
        position: absolute;
        top: 0%;
        z-index: 999;
    }

    .navBar {
        padding-top: 5px !important;
        position: fixed !important;
        animation: down 0.5s ease-in-out;
    }

    .altMenu {
        display: block;
        opacity: 0;
        transform: translateY(5%);
        transition: all 0.1s ease-in-out;
        pointer-events: none;
        box-shadow: 0 1px 20px rgba(80, 80, 80, 0.377);
    }

    .dropdown-toggle:hover+.altMenu {
        opacity: 1;
        transform: translateY(0%);
        pointer-events: painted;
    }

    .text {
        text-align: left !important;
    }

    .swiper:hover .geri {
        left: 2% !important;
    }
    
    .swiper:hover .ileri {
        left: 92% !important;
    }
    .swiper-pagination{
        opacity: 0!important;
    }
    .extra{
        display: none!important;
    }
}


@media only screen and (max-width: 1399px) {
    .megaMenu {
        right: -270%;
        width: 850%;
    }

    .loribox {
        height: 350px;
    }

    .vertical {
        left: 50%;
        top: 8%;
    }

    .lori {
        top: 5%;
    }

    .dennis {
        left: 75%;
        top: 5%;
    }

    .adam img {
        top: 15%;
    }
}

@media only screen and (max-width: 1200px) {
    .megaMenu {
        right: -235%;
        width: 750%;
    }

    .loribox {
        height: 350px;
    }

    .vertical {
        left: 50%;
        top: 8%;
    }

    .lori {
        top: 5%;
    }

    .dennis {
        left: 75%;
        top: 5%;
    }

    .adam img {
        top: 27%;
    }
}

@media only screen and (max-width: 992px) {
    nav ul li {
        text-align: center !important;
    }

    nav form {
        margin-top: 20px !important;
    }

    .megaMenu {
        width: auto;
    }

    .vertical {
        left: 70%;
        top: 8%;
    }

    .adam img {
        top: 0%;
    }
    .copyright {
        text-align: center;
    }
}

@media only screen and (max-width: 776px) {
    .adam img {
        top: 17%;
    }

    .logo,
    .iconss {
        text-align: center;
        justify-content: center;
    }

    .footermenuheader {
        text-align: center;
        margin-top: -30px !important;
        padding: 0 !important;
        text-decoration: underline !important;
        cursor: pointer;
    }

    .footermenu {
        display: none;
        text-align: center;
        text-decoration: underline !important;

    }

    .footermenuheader:focus+.footermenu {
        display: block;
    }

}

@media only screen and (max-width: 576px) {
    .loribox {
        height: auto;
    }

}

@keyframes down {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes down {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes up {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}